* { 
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.main {
    height: 100vh;
    background: linear-gradient(#21b3e1,#fff);
    overflow: hidden;
    position: relative;
}

.navbar {
    width: 100%;
    border-bottom: 2px solid #b7e7f6;
}

nav {
    display: flex;
    margin: 28px auto 0;
    width: 80%;
    align-items: center;
    position: sticky;
    z-index: 2;
}

.logo {
    flex-basis: 15%
    
}

.logo img {
    width: 100px;
}

.nav-link {
    flex: 1;
    text-align: center;
    font-weight: 600;
    font-size: 20x;
}

.nav-link ul li {
    display: inline-block;
    position: relative;
    list-style: none;
    padding: 15px 5px;
    margin: 0 25px;
    
}

.nav-link ul li a{
    text-decoration: none;
    color: #b7e7f6;
}

.nav-link ul li::after{
    content: '';
    width: 100%;
    height: 4px;
    background: transparent;
    position: absolute;
    bottom: 10px;
    left: 0;
    
}

.nav-link ul li:hover::after {
    background: #fff;
}

.active::after{
    background: #FFF !important;

}


.menu-icon {
    flex-basis: 15%;
}

.menu-icon span{
    width: 35px;
    float: right;
    font-size: 30px;
    color: #b7e7f6;
    cursor: pointer;
}

.menu-icon span:hover{
    color: #2b2b2b;
}

.content {
    width: 300px;
    position: absolute;
    padding-top: 20px;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 2;
}

.social-icons a{
    width: 18px;
    margin: 0 15px;
    font-size: 20px;
    cursor: pointer;
    color: #fff;;

}

.search-box{
    padding-right: 10px;
    margin-top: 20px;
    border: 1px solid #b7e7f6;
    display: flex;
    border-radius: 30px;;
    align-items: center;
    background: linear-gradient(rgba(201, 36, 36, 0.4),rgba(255,255,255,.2));
}

.search-box input {
    outline: none;
    border: 0;
    padding: 7px 15px;
    width: 100%;
    background: transparent;
    color: #b7e7f6;
}

::placeholder{
    color: #b7e7f6;
}

.search-box img{
    cursor: pointer;
}

#clouds {
    width: 100%;
    position: absolute;
    left: 0;
    top: 100px;

    animation: clouds 10s linear infinite;
}

@keyframes clouds {
    0%{
        top: -100px;
    }

    20%{
        top: 100px;
    }

    80%{
        top: 100px;
    }

    100%{
        top: -100px;
    }
}

#plane {
    width: 200px;
    position: absolute;
    top: 200px;
    left: -250px;
    z-index: 2;

    animation: flight 7.9s linear infinite ;
}

@keyframes flight {
    0%{
        left: -250px;
    }

    20%{
        left: 250px;
    }

    80%{
        left: 250px;
    }

    100%{
        left: 110%;
    }
}

#balloons{
    height: 400px;
    width: 700px;
    position: absolute;
    bottom: -450px;
    left: 50%;
    transform: translateX(-50%);

    animation: balloon 8s linear infinite;
}

@keyframes balloon {
    0%{
        bottom: -450px;
    }

    20%{
        bottom: 100px;
    }

    80%{
        bottom: 100px;
    }

    100%{
        bottom: -450px;
    }
}

.balloon1{
    width: 150PX;
    opacity: 0.4;
}

.balloon2{
    width: 350PX;
}

.balloon3{
    width: 180px;
    opacity: 0.4;
}

#pause {
    height: 70px;
    width: 70px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

.
