* { 
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.main {
    height: 100vh;
    background: linear-gradient(#21b3e1,#fff);
    overflow: hidden;
    position: relative;
}

.navbar {
    width: 100%;
    border-bottom: 2px solid #b7e7f6;
}

nav {
    display: flex;
    margin: 10px auto 0;
    width: 80%;
    align-items: center;
    position: sticky;
    z-index: 2;
}

.logo {
    flex-basis: 15%
    
}

.logo img {
    width: 100px;
}

.nav-link {
    flex: 1;
    text-align: center;
    font-weight: 600;
    font-size: 20x;
}

.nav-link ul li {
    display: inline-block;
    position: relative;
    list-style: none;
    padding: 15px 5px;
    margin: 0 25px;
    
}

.nav-link ul li a{
    text-decoration: none;
    color: #b7e7f6;
}

.nav-link ul li::after{
    content: '';
    width: 0%;
    height: 4px;
    background: transparent;
    position: absolute;
    bottom: 10px;
    left: 0;

    transition: ease-in-out 1s;
    
}

.nav-link ul li:hover::after {
    background: #ffffff;
    width: 100%;

    
}

.active::after{
    background: #FFF !important;

}

.menu-icon {
    flex-basis: 15%;
}

.menu-icon span{
    width: 35px;
    float: right;
    font-size: 30px;
    color: #b7e7f6;
    cursor: pointer;
}

.menu-icon span:hover{
    color: #2b2b2b;
}

.content {
    width: 300px;
    position: absolute;
    padding-top: 25px;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 2;
}


.icons{
    display: inline-flex;
}

.icons .icon {
    display: flex;
    position: relative;
    margin: 0 10px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 2;
    flex-direction: column;

    transition: 0.5s cubic-bezier(0.17, -0.67, 0.83,2);
}

.icons .icon span{
    display: block;
    position: relative;
    height: 30px;
    width: 30px;
    background: linear-gradient(#21b3e1, #ffffff57);
    border-radius: 50%;
    box-shadow: 1px 10px 20px rgba(0, 0, 0, 0.5); 
    z-index: 2;
}

.icons .icon span i {
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    
    transition: 0.5s;
}

.icons .icon span i:hover {
    color: #fff;
}

.icon:hover{
    transform: translateY(-10px);
}

.icons .icon:hover span {
  color: #333;
}

.icons .facebook:hover span {
  background: #3b5998   ;
}

.icons .twitter:hover span {
  background: #00acee   ;
}

.icons .instagram:hover span {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}

.icons .whatsapp:hover span {
  background: #25d366;
}

.icons .linkedin:hover span {
  background: #0072b1 ;
}

.icons .youtube:hover span {
  background: #e02619;
}

@media (max-width: 768px) {

    .icons .icon span{
        height: 70px;
        width: 70px;
    }
            
    .icons .icon span i {
        font-size: 30px;
        line-height: 70px;
        }
        
    }

.search-box{
    padding-right: 10px;
    margin-top: 20px;
    border: 1px solid #b7e7f6;
    display: flex;
    border-radius: 30px;;
    align-items: center;
    background: linear-gradient(rgba(255, 255, 255, 0.4),rgba(255,255,255,.2));
}

.search-box input {
    outline: none;
    border: 0;
    padding: 7px 15px;
    width: 100%;
    background: transparent;
    color: #636363;
}

::placeholder{
    color: #636363;
}

.search-box img{
    cursor: pointer;
}

#clouds {
    width: 100%;
    position: absolute;
    left: 0;
    top: 100px;

    animation: clouds 10s linear infinite;
}

@keyframes clouds {
    0%{
        top: -100px;
    }

    20%{
        top: 100px;
    }

    80%{
        top: 100px;
    }

    100%{
        top: -100px;
    }
}

#plane {
    width: 250px;
    position: absolute;
    top: 180px;
    left: -250px;
    z-index: 2;

    animation: flight 7.9s linear infinite ;
}

@keyframes flight {
    0%{
        left: -250px;
    }

    20%{
        left: 250px;
    }

    80%{
        left: 250px;
    }

    100%{
        left: 110%;
    }
}

#balloons{
    height: 600px;
    width: 2000px;
    position: absolute;
    bottom: -450px;
    left: 30%;
    transform: translateX(-20%);
    z-index: ;

    animation: balloon 8s linear infinite;
}

@keyframes balloon {
    0%{
        bottom: -450px;
    }

    20%{
        bottom: 100px;
    }

    80%{
        bottom: 100px;
    }

    100%{
        bottom: -450px;
    }
}

.balloon1{
    width: 500px;
    top: 30px;
    opacity: 0.4;
}

.balloon2{
    width: 400px;
    /* opacity: 0.8; */

}

.balloon3{
    width: 700px;
    opacity: 0.8;
    z-index: 2;
}

#pause {
    height: 70px;
    width: 70px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}





























s
